/*font-family: 'Eczar', serif;
font-family: 'Work Sans', sans-serif;*/
*{
  margin: 0;
  padding: 0;
}


#contenidos{			/* */
	width: 980px;		/* ancho */
	height: auto;		/* alto */
	margin: 15px auto;
	text-align: left;
	position: relative;
    border-radius: 10px;
}

/* Etiquetas	*/

body{											
	text-align: center;
	background:#006680;
}

h1{		
	font-family: 'Eczar', serif;
    color: red;
	font-size: 50px;								
	text-align: center;							
	line-height: 50px;/* interlineado */
	margin: 1px;/* anchura de zona de relleno */
}

h2{
	font-family: 'Work Sans', sans-serif;
	color:blue;				/* color de letra */
	margin-left: 20px;
	font-size: 20px;
	text-align: left;
}

header, section, footer, aside, article, figure, figcaption,
hgroup{
	display: block;
}

header{								/* encabezado */
	background: #F2B80D;			/* color de fondo */
	border-radius: 10px 10px 0px 0px;/* bordes redondeados */
	padding: 20px;
    margin: 1px;
}

nav{								/* menú de navegación */
	height: 50px;
	background: #808080;
	border-radius: 0px 0px 10px 10px;
	margin-top: 0px;
	padding: 5px 15px;
    left: 0;
    right: 0;
}

nav ul{		
	margin: left;
	padding-top: 4px;
    list-style: none;
    position: absolute;
}

nav > ul {
    display: table;
    width: 50%;
    position: relative;
}

nav > ul li {
    display: table-cell;
    background: #808080;
}

nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

nav > ul > li > ul {
	display:block;
	position:absolute;
	height:0%;
    padding-top: 16px;
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul > li {
	display:block;
	position:relative;
    left: 35px;
	overflow:hidden;
	height:100%;
    width: 120%;
}

nav > ul li a {
	display:block;
	line-height:20px;
	padding:4px;
	position: relative;
	text-align:center;
	text-decoration:none;
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	line-height:10px;
    padding: 10px;
    color: black;
}

section{	
    float: left;
	width: 660px;
	margin: 20px 0px;
	background: red;
    border-radius: 10px;
}

aside{
	float: left;
	width: 260px;
	margin: 20px 0px 0px 20px;
	padding: 20px;
	background: #CCCCCC;
    border-radius: 10px;
}

footer{
	clear: both;
    margin: auto;
	text-align: center;
	padding: 25px;
	border-top: 2px solid #999999;
    position: relative;
}

article{
	background: #FFFBCC;
	padding: 20px;
	margin: 15px;
}

blockquote{
    padding: 0px;
    margin: 5px 0px 0px 0px;
    color: green;
}
span{
    color: yellowgreen;
    font-size: 22px;
}

#parrafo{
    font-size: 15px;
    color: darkmagenta;
    background: yellow;
}

.pie{
    font-size: 22px;
    margin: 38px;
}

small{
    color: black;
    display: block;
    font-size: 20px;
    margin-top: 25px;
}

/* Clases */

.ancho_menu_home{width: 900px;} 			/* seleccionada desde las listas de enlaces*/
.ancho_menu_paginas{width: 900px;} 

/* características de las listas de enlaces*/

.menu:link{color: white; text-decoration: none;} 		/* propias */
.menu:visited{color: white; text-decoration: none;} 	/* cuando han sido usadas */
.menu:hover{color: black; text-decoration: none;} 		/* cuando se pasa el cursor sobre ellas */
.menu:active{color: red; text-decoration: none;} 		/* cuando se les pincha */

.pie:link{color: #ff5900; text-decoration: none;} 		/* propias */
.pie:visited{color: #ff5900; text-decoration: none;} 	/* cuando han sido usadas */
.pie:hover{color: black; text-decoration: none;} 		/* cuando se pasa el cursor sobre ellas */
.pie:active{color: yellow; text-decoration: none;}