/*font-family: 'Eczar', serif;
font-family: 'Work Sans', sans-serif;*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background: LightBlue;
}

body{
	background-image: url(../img/unad1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: 'Eczar', serif;
	margin-left: 10px;
	font-size: 60px
	text-align: center;
}

h2{
	font-family: 'Work Sans', sans-serif;
	margin-left: 10px;
	font-size: 20px
	text-align: left;
}