/*font-family: 'Eczar', serif;
font-family: 'Work Sans', sans-serif;*/

#contenidos{			/* */
	width: 980px;		/* ancho */
	height: auto;		/* alto */
	margin: 15px auto;
	text-align: left;
	position: relative;
}

/* Etiquetas	*/

body{											/* imagen de fondo	*/
	text-align: center;
	background:#006680;
}

h1{			/* título primario	*/
	font-family: 'Eczar', serif;				/* tipo de letra */
	/*margin-top: 10px;	*/						/* margen superior */
	/*margin-bottom: 1px;*/						/* margen inferior */
	font-size: 50px;							/* tamaño */	
	text-align: center;							/* alineación */
	line-height: 50px;							/* interlineado */
	padding-top: 20px;							/* anchura de zona de relleno */
}

h2{
	font-family: 'Work Sans', sans-serif;
	color:blue;				/* color de letra */
	margin-left: 20px;
	font-size: 20px;
	text-align: left;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
	display: block;
}

header{								/* encabezado */
	background: #F2B80D;			/* color de fondo */
	border-radius: 10px;			/* bordes redondeados */
	padding: 20px;
}

nav{								/* menú de navegación */
	height: 50px;
	background: #808080;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 15px;
}

ul{									/* espacio de las listas del nav */
	margin: auto;
	padding-top: 4px;

}

li{									/* listas de enlaces del nav */
	float: left;
	list-style-type: none;			/* acomodar horizontal */
	padding: 10px;
	font-family: 'Work Sans', sans-serif;
	/* background: #333333;
	margin: 3px;
	border-radius: 10px; */	
}

section{
	float: left;
	width: 660px;
	margin: 20px;
	background: #CCCCCC;
}

aside{
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: #CCCCCC;
}

footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}

article{
	background: #FFFBCC;
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
}

/* Clases */

.ancho_menu_home{width: 900px;} 			/* seleccionada desde las listas de enlaces*/
.ancho_menu_paginas{width: 900px;} 

/* características de las listas de enlaces*/

.menu:link{color: white; text-decoration: none;} 		/* propias */
.menu:visited{color: white; text-decoration: none;} 	/* cuando han sido usadas */
.menu:hover{color: black; text-decoration: none;} 		/* cuando se pasa el cursor sobre ellas */
.menu:active{color: red; text-decoration: none;} 		/* cuando se les pincha */
